<div class="insf__container">

    {{#each storyGroup}}
        <div class="insf__story-group"
            {{#if border}}{{#if border.solid}}
                    style="background: {{ border.colour }};"
            {{/if}}{{/if}}
            >
            <img class="insf__story-group-image js-story-thumbnail" src="{{thumbnail.src}}" alt="{{thumbnail.title}}" />
        </div>
    {{/each}}
    
</div>

<div class="insf__story-content-container">
    <div class="swiper-wrapper">
        {{#each storyGroup}}

            {{#if storyList}}
                <div class="insf__story-content js-story-content swiper-slide">

                    <div class="insf__story-content-title-section">
                        <img class="insf__story-content-title-image" src="{{thumbnail.src}}" alt="{{thumbnail.title}}" />
                        <div class="insf__story-content-title">{{title}}</div>
                        <div class="insf__story-content-title-close js-story-close">X</div>
                        <div class="insf__story-content-title-progress-container">
                            {{#each storyList}}
                                <div class="insf__story-content-title-progress-section"></div>
                            {{/each}}
                        </div>
                    </div>
                    
                    <div class="insf__story-content-bottom-section swiper-wrapper">
                        <div class="swiper-pagination"></div>
                        {{#each storyList}}
                            <div class="insf__story-content-item swiper-slide">
                                {{#is type 'image'}}
                                    <img class="insf__story-content-item-image" src="{{src}}">
                                {{else is type 'youtube'}}
                                    <iframe class="insf__story-content-youtube" src="{{src}}?autoplay=1&enablejsapi=1&playsinline=1&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                                {{else is type 'vimeo'}}
                                    {{!-- <iframe class="insf__story-content-vimeo" src="{{src}}"></iframe> --}}
                                    <div class="insf__story-content-vimeo" data-vimeo-url="{{src}}" id="vimeo-{{@../index}}-{{@index}}"></div>
                                {{else}}
                                    {{src}}
                                {{/is}}
                                {{#if text}}
                                    {{#each text}}
                                        <div class="insf__story-content-item-text-container"
                                            style="{{#if top}} top: {{top}};{{/if}}{{#if bottom}} bottom: {{bottom}};{{/if}}">
                                            <{{#if link}}a href="{{link}}"{{else}}div{{/if}} class="insf__story-content-item-text" 
                                                style="{{#if colour}} color: {{colour}};{{/if}}{{#if backgroundColour}} background-color: {{backgroundColour}};{{/if}}{{#if fontSize}} font-size: {{fontSize}};{{/if}}{{#if button.width}} width: calc({{button.width}} - 32px);{{/if}}"
                                                >{{text}}</{{#if link}}a{{else}}div{{/if}}>
                                        </div>
                                    {{/each}}
                                {{/if}}
                                {{#if link}}
                                    <div class="insf__story-content-item-link" href="{{link}}"></div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    
                </div>
            {{/if}}
            
        {{/each}}
    </div>
    
</div>